<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pedro.infrastructure.dao.ExceptTableDao">

    <insert id="insertExceptTable" parameterType="java.lang.String">
        INSERT INTO sys_except_table(name)
        VALUES (#{name})
    </insert>

    <delete id="deleteExceptTable" parameterType="java.lang.String">
        DELETE FROM sys_except_table
        WHERE name = #{name};
    </delete>
    
    <select id="queryExceptTableNameList" resultType="java.lang.String">
        SELECT name from sys_except_table;
    </select>


</mapper>
