<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pedro.infrastructure.dao.TableInfoDao">

    <select id="queryAllTableInfo" resultType="com.pedro.infrastructure.po.TableInfoPO">
        SELECT tid, name, table_weight AS tableWeight, scan_freq_per_min AS scanFreqPerMin
        FROM sys_table_info;
    </select>

    <select id="queryTableInfoByTid" resultType="com.pedro.infrastructure.po.TableInfoPO" parameterType="java.lang.Integer">
        SELECT tid, name, table_weight AS tableWeight, scan_freq_per_min AS scanFreqPerMin
        FROM sys_table_info
        WHERE tid = #{tid}
    </select>

    <delete id="deleteRecordByTid" parameterType="java.lang.Integer">
        DELETE FROM sys_table_info
        WHERE tid = #{tid};
    </delete>

    <update id="updateTableWeight" parameterType="com.pedro.domain.form.model.vo.TableWeightVO">
        UPDATE sys_table_info
        SET table_weight = #{weight}
        WHERE tid = #{tid}
    </update>

    <insert id="insertTableInfo" parameterType="com.pedro.infrastructure.po.TableInfoPO">
        INSERT INTO sys_table_info(name, table_weight, scan_freq_per_min)
        values(#{name}, #{tableWeight}, 1);
    </insert>

    <select id="queryTableInfoByName" resultType="com.pedro.infrastructure.po.TableInfoPO" parameterType="java.lang.String">
        SELECT tid, name, table_weight AS tableWeight, scan_freq_per_min AS scanFreqPerMin
        FROM sys_table_info
        WHERE name = #{name}
    </select>

</mapper>
