<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pedro.infrastructure.dao.TableAlarmDao">

    <select id="queryAlarmTimesByTid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(*)
        FROM sys_table_alarm
        WHERE tid = #{tid}
    </select>

    <delete id="deleteRecordByTid" parameterType="java.lang.Integer">
        DELETE
        FROM sys_table_alarm
        WHERE tid = #{tid};
    </delete>

    <select id="queryAlarmByRid" parameterType="java.lang.Integer"
            resultType="com.pedro.infrastructure.po.TableAlarmPO">
        SELECT *
        FROM sys_table_alarm
        where rid = #{rid}
    </select>

    <delete id="deleteAlarmByRid" parameterType="java.lang.Integer">
        DELETE
        FROM sys_table_alarm
        WHERE rid = #{rid};
    </delete>

    <select id="queryAlarmByTid" parameterType="java.lang.Integer"
            resultType="com.pedro.infrastructure.po.TableAlarmPO">
        SELECT *
        FROM sys_table_alarm
        where tid = #{tid}
    </select>

    <update id="updateAlarmState" parameterType="com.pedro.domain.form.model.vo.AlarmStateVO">
        UPDATE sys_table_alarm
        SET state = #{state}
        WHERE aid = #{aid}
    </update>

    <delete id="deleteAlarmByAid" parameterType="java.lang.Integer">
        DELETE
        FROM sys_table_alarm
        WHERE aid = #{aid};
    </delete>


</mapper>
