<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pedro.infrastructure.dao.TableRuleDao">

    <delete id="deleteRecordByTid" parameterType="java.lang.Integer">
        DELETE FROM sys_table_rule
        WHERE tid = #{tid};
    </delete>

    <insert id="insertTableRule" parameterType="com.pedro.domain.dbProcess.model.vo.TableRuleVO">
        INSERT INTO sys_table_rule(cid, tid, rule_weight, type, value_appear, value_range, appear_times, appear_ratio, ext_info)
        VALUES (#{cid}, #{tid}, #{ruleWeight}, #{type}, #{valueAppear}, #{valueRange}, #{appearTimes}, #{appearRatio}, #{extInfo})
    </insert>
</mapper>
